* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;

}

/* header CSS */

header {
    display: flex;
    justify-content: space-between;
    margin: 0% 5% 5% 5%;
}
 
.nav {
    display: flex;
}

.nav_links {
    display: flex;
    text-decoration: none;
    color: black;
}

.nav_links:hover {
    border-top: #0065FC solid;
    color: #0065FC;
}

span {
    padding: 0px 15px;
    display: flex;
    align-items: flex-end;
    font-size: medium;
    font-weight: 300; 
}

.logo {
    padding-top: 2%;
    display: flex;
    align-items: flex-end;
}

.logo-image {
    width: 45%;
}

@media all and (max-width: 767px) {
    body {
        margin: 0;
    }

    header {
        display: block;
        margin: 0 0 7% 0;
        }

    .nav {
        justify-content: center;
        }
    .nav_links {
        border-bottom: 3px #F2F2F2 solid;
        width: 100%;
        justify-content: center;
        padding: 3%;
        }
    .nav_links:hover {
        border-bottom: 3px #0065FC solid;
        border-top: none;
        color: #0065FC;
    }
    .logo {
        justify-content: center;
    }
    .logo-image {
        width: 25%;
    }
}

/* text section CSS*/

.title {
    margin: 0 5% 5% 5%;
    line-height: 0.6
}

.lg-text {
    font-size: large;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.sm-text {
    font-weight: 300;
    font-size: small;
}

@media all and (max-width: 767px) {
    .title{
        margin-bottom: 10%;
    }
    .lg-text {
        font-size:x-large;
        font-weight: 600;
    }
    .sm-text {
        font-weight: 300;
    }
}

/* search bar CSS*/

.search-bar {
    position: relative;
    margin: 0% 5% 5% 5%;
    border: transparent;
}

.search-bar-contents {
    position: absolute;
    display: flex;
}

.search-bar-icon {
    padding: 5% 6%;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.search-bar-input {
    border-left: none;
    border-right: none;
    border-top: 1px #F2F2F2 solid;
    border-bottom: 1px #F2F2F2 solid;
    outline: none;
    padding: 0% 5%;
    font-weight: 600;
}
 .search-bar-input::placeholder {
    color: black;
    font-weight: 600;
    opacity: 1;
 }

.search-bar-bg-button {
    border: none;
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    padding: 0% 5%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

    .search-bar-sm-button{
        display: none;
    }

@media all and (max-width: 767px) {

    .search-bar-contents {
        width: 100%;
    }

    .search-bar-input {
        width: 100%;
    }

    .search-bar-bg-button {
        display: none;
    }

    .search-bar-sm-button {
        display: block;
        border: none;
        background-color: #0065FC;
        color: white;
        font-weight: 600;
        padding: 0% 5%;
        border-radius: 15px;
    }
}