* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: black;
}



.container {
    display: flex;
    justify-content: space-between;

}
 

.nav {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.nav_links {
    height:fit-content;
    text-decoration: none;
    display: flex;
    height: 100%;

}
.nav_links:hover {
    border-top: #0065FC solid;
    height: 100%;
}

span {
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

span:hover {
    color: #0065FC;
}

.logo {
    display: flex;
    align-items: flex-end;
}